<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloco de Notas</title>
    <!-- Icons & Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/marked"></script>
</head>
<body>
<div id="app">
    <aside class="side-bar">
        <!--Toolbar-->
        <div class="toolbar">
            <!--Add note button-->
            <button @click="addNote" :title="addButtonTitle">
                <i class="material-icons">add</i> Adc Anotação
            </button>
        </div>
        <div class="notes">
            <div class="note" v-for="note of notes">{{note.title}}</div>
        </div>
    </aside>
    <section class="main">
        <textarea v-model="content"></textarea>
    </section>
    <aside class="preview" v-html="notePreview"/>
</div>

<script src="app.js"></script>
</body>
</html>